@tailwind components;

@layer components {
  .mobile-nav-workspace{
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}
  .mobile-nav-workspace-bg-color{
          transition: all 400ms ease-in-out;
          -webkit-transition: all 400ms ease-in-out;
          -moz-transition: all 400ms ease-in-out;
          -ms-transition: all 400ms ease-in-out;
          -o-transition: all 400ms ease-in-out;
}
  .mobile-nav-workspace.active {
    left: 0px;
    transition: all 350ms ease-in-out;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
}
  .mobile-nav-workspace-bg-color.active {
    left: 0px;
        transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
}
