@tailwind components;

@layer components {
  .mobile-nav-workspace-bg-color {
    @apply md:hidden left-[-780px]
  }
  .mobile-nav-workspace {
    @apply left-[-780px]  
  }
  .mobile-nav-workspace.active {
      left: 0px;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .mobile-nav-workspace-bg-color.active {
    left: 0px;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    
  }
}
