@tailwind components;

@layer{
.mobile-menu {
  display: none;
  height: -webkit-fill-available;
  position: absolute;
  top: 5rem;
}
.mobile-menu.active {
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 5rem;
}
}

